body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.card-white-header {
    background-color: white;
    margin: 0px;
    position: relative;
}

.bottomMenu {
    position: relative;
    bottom:200px;
}

.card {
    background: transparent;
    z-index: 99;
}

.card-blue-header {
    background-color: #2F1FDA;
    border-radius: 20px;
    box-shadow: inset 0px -4px 1px #23AA49;
    margin-left: 2px;
    margin-right: 2px;
    position: relative;
}

.money {
    color: #23AA49;
    font-weight: 600;
    text-align: left;
    position: relative;
    left: -65px;
    float: right;
    top: 5px;
}

.userName {
    position: relative;
    color: white;
    font-size: 11px;
    left: -10px;
    font-weight: bold;
    top: -20px;
    letter-spacing: 0px;
}

.main-icon {
    position: relative;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 25px;
}

.main-icon-style {
    width: 30px;
    height: 30px;
}

.user-pic {
    position: relative;
    width: 48px;
    height: 48px;
    left: -60px;

}

.circle {
    background-color: white;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

.red-circle {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 8px;
    width: 12px;
    height: 12px;
    position: relative;
    left: 25px;
    top: -5px;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 3px;
}

.circle-2 {
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

.circle-3 {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
    margin-top: 28px;

}

.circle-main {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: blue;
    text-align: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
    box-shadow: 0px 12px 25px rgba(47, 31, 218, 0.3);
}

.card {
    border: none;
}

.second-row {
    position: relative;
    top: 20px;
}

.subMenu-icon {
    position: relative;
    width: 18px;
    height: 15px;
    left: 8px;
    top: 6px;
}

.ring-icon {
    position: relative;
    width: 18px;
    height: 20px;
    left: 8px;
    top: -11px;
}

.wallet-icon {
    position: relative;
    width: 10px;
    height: 10px;
    left: 4px;
    top: -4px;
}

.phone-icon {
    width: 30px;
    height: 15px;
    filter: brightness(0) invert(1);
}

.wifi-icon {
    width: 28px;
    height: 14px;
    filter: brightness(0) invert(1);
}

.battery-icon {
    position: relative;
    width: 38px;
    height: 19px;
    top: 5px;
    filter: brightness(0) invert(1);
}

.toTheRight {
    position: relative;
    left: 25px;
}

.toTheRight-more {
    position: relative;
    left: 30px;
}

.whitePhoneText {
    position: relative;
    color: white;
    font-size: 11px;
    left: -13px;
}

.d-flex {
    position: relative;
    top: -10px;
}

#map {
    top: -130px;
    height: 95%;
    position: relative;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}